<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Brief #<%= @brief.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><a href="<%= @brief.link %>"><%= @brief.name %></a></dd>

              <dt>Posted By User</dt>
              <dd><%= @brief.user.username %></dd>

              <dt>Lawyer</dt>
              <dd><%= @brief.lawyer %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/briefs" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/briefs/<%= @brief.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_brief/<%= @brief.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

              <ul class="list group">
                <% @brief.favorites.each do |favorite| %>
                  <li class="list-group-item">
                    <%= favorite.user.username %> lists this brief as a favorite and says: <%= favorite.comment %>
                    </li>
                    <% end %>
                    </ul>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
