<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Brief #<%= @brief.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><a href="<%= @brief.link %>"><%= @brief.name %></a></dd>

              <dt>Posted By User</dt>
              <dd><%= @brief.user.username %></dd>

              <dt>Lawyer</dt>
              <dd><%= @brief.lawyer %></dd>

              <dt>Favorites</dt>
              <dd><%= @brief.favorites.count %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/briefs" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/briefs/<%= @brief.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_brief/<%= @brief.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

              <ul class="list group">
                <% @brief.favorites.each do |favorite| %>
                  <li class="list-group-item">
                    <%= favorite.user.username %> lists this brief as a favorite and says: <%= favorite.comment %>
                    </li>
                    <% end %>
                    </ul>

    </div>

    <h4>Add to Favorites</h4>
<div class="panel-body">
        <form action="/create_favorite" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <input type="hidden" name="brief_id" value="<%= @brief.id %>">
          <!-- Label and input for comment -->
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">
              Comment
            </label>
            <div class="col-sm-10">
              <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @favorite.comment %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Favorite
              </button>
              or
              <a href="/favorites">Cancel</a>
            </div>
          </div>

  </div>
</div>

<!-- End responsive panel example -->
