<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Friend Request #<%= @friend_request.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Sender</dt>
              <dd><%= @friend_request.sender.username %></dd>

              <dt>Receiver</dt>
              <dd><%= @friend_request.receiver.username %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/friend_requests" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/friend_requests/<%= @friend_request.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_friend_request/<%= @friend_request.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
